{% extends "layouts/page.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {% if errorMessage %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Add new delivery</h1>
    </div>
  </div>

  <form method="POST" novalidate>
    {{ govukInput({
      label: {
        text: "Delivery name",
        classes: "govuk-label--m"
      },
      id: "name",
      name: "name",
      value: values.name,
      errorMessage: errors.name,
      required: true
    }) }}

    {{ govukSelect({
      id: "phase",
      name: "phase",
      label: {
        text: "GDS Phase",
        classes: "govuk-label--m"
      },
      items: phaseOptions,
      value: values.phase,
      errorMessage: errors.phase,
      required: true
    }) }}

    {{ govukInput({
      label: {
        text: "DEFRA Code",
        classes: "govuk-label--m"
      },
      hint: {
        text: "Delivery identifier code (optional)"
      },
      id: "defCode",
      name: "defCode",
      value: values.defCode,
      errorMessage: errors.defCode
    }) }}

    {{ govukSelect({
      id: "status",
      name: "status",
      label: {
        text: "Current status",
        classes: "govuk-label--m"
      },
      items: statusOptions,
      value: values.status,
      errorMessage: errors.status,
      required: true
    }) }}

    {{ govukTextarea({
      name: "commentary",
      id: "commentary",
      label: {
        text: "Delivery commentary",
        classes: "govuk-label--m"
      },
      value: values.commentary,
      errorMessage: errors.commentary,
      required: true
    }) }}

    {{ govukButton({
      text: "Add delivery"
    }) }}
    <a href="/projects" class="govuk-button govuk-button--secondary" role="button">Cancel</a>
  </form>
{% endblock %} 