{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}
  {{ appHeading({
    text: "Standard " + standard.standardId + " History",
    caption: project.name
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">History Details</h2>
      {% if history and history.length > 0 %}
        <div class="timeline">
          {% for change in history %}
            <div class="timeline__event">
              <h3 class="timeline__event-title">
                {% if change.changes.status and change.changes.status.from !== change.changes.status.to %}
                  Delivery status update:
                  <strong class="govuk-tag 
                    {% if change.changes.status.to === 'RED' %}govuk-tag--red
                    {% elif change.changes.status.to === 'AMBER' %}govuk-tag--yellow
                    {% elif change.changes.status.to === 'GREEN' %}govuk-tag--green
                    {% endif %}">
                    {{ change.changes.status.to }}
                  </strong>
                {% elif change.changes.commentary %}
                  Comment:
                {% else %}
                  Standard updated
                {% endif %}
              </h3>
              <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2" style="white-space: nowrap; font-size: 12px; line-height: 1; padding: 3px 6px;">
                {% if change.changedBy === 'system' %}
                  {% set professions = [
                    'DELIVERY MANAGEMENT',
                    'PRODUCT MANAGEMENT',
                    'USER CENTRED DESIGN',
                    'ARCHITECTURE',
                    'SOFTWARE DEVELOPMENT',
                    'BUSINESS ANALYSIS'
                  ] %}
                  {{ professions | random }}
                {% else %}
                  {{ change.changedBy | upper }}
                {% endif %}
              </strong>
              {% if change.changes.commentary %}
                <p class="govuk-body">{{ change.changes.commentary.to }}</p>
              {% endif %}
              <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-2">
                {{ change.timestamp | formatDate }}
              </p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="govuk-body">No history found for this standard.</p>
      {% endif %}

      {{ govukButton({
        text: "Back to project",
        href: "/projects/" + project.id,
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endblock %} 