{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  {{ appHeading({
    text: "Projects"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="GET" class="govuk-!-margin-bottom-6">
        {{ govukInput({
          id: "tag",
          name: "tag",
          label: {
            text: "Filter by tag",
            classes: "govuk-label--s"
          },
          value: currentTag
        }) }}
        
        {{ govukButton({
          text: "Apply filter"
        }) }}
        
        {% if currentTag %}
          <a href="/" class="govuk-link govuk-!-margin-left-3">Clear filter</a>
        {% endif %}
      </form>

      {{ govukButton({
        text: "Add new project",
        href: "/projects/add",
        classes: "govuk-button--secondary govuk-!-margin-bottom-6"
      }) }}

      <p class="govuk-body">{{ description }}</p>

      {% if projects and projects.length > 0 %}
        {% set tableRows = [] %}
        {% for project in projects %}
          {% set statusClass = '' %}
          {% if project.status === 'RED' %}
            {% set statusClass = 'govuk-tag--red' %}
          {% elif project.status === 'AMBER' %}
            {% set statusClass = 'govuk-tag--yellow' %}
          {% elif project.status === 'GREEN' %}
            {% set statusClass = 'govuk-tag--green' %}
          {% endif %}

          {% set row = [
            {
              text: project.name
            },
            {
              html: "<strong class='govuk-tag " + statusClass + "'>" + project.status + "</strong>"
            },
            {
              text: project.lastUpdated
            },
            {
              html: "<a href='/projects/" + project.id + "' class='govuk-link'>" + project.actions + "</a>"
            }
          ] %}
          {% set tableRows = (tableRows.push(row), tableRows) %}
        {% endfor %}

        {{ govukTable({
          head: [
            {
              text: "Project name"
            },
            {
              text: "RAG status"
            },
            {
              text: "Last updated"
            },
            {
              text: "Actions"
            }
          ],
          rows: tableRows
        }) }}
      {% else %}
        <p class="govuk-body">No projects found.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}