{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% macro renderStatusTag(status) %}
  {% if status == 'AMBER_RED' %}
    <strong class="govuk-tag govuk-tag--red">Red</strong>
    <strong class="govuk-tag govuk-tag--yellow">Amber</strong>
  {% elif status == 'GREEN_AMBER' %}
    <strong class="govuk-tag govuk-tag--yellow">Amber</strong>
    <strong class="govuk-tag govuk-tag--green">Green</strong>
  {% elif status == 'RED' %}
    <strong class="govuk-tag govuk-tag--red">Red</strong>
  {% elif status == 'AMBER' %}
    <strong class="govuk-tag govuk-tag--yellow">Amber</strong>
  {% elif status == 'GREEN' %}
    <strong class="govuk-tag govuk-tag--green">Green</strong>
  {% else %}
    <strong class="govuk-tag govuk-tag--grey">{{ status }}</strong>
  {% endif %}
{% endmacro %}

{% block beforeContent %}
  <nav aria-label="Back navigation">
    {{ govukBackLink({
      text: "Back to all professions",
      href: "/professions"
    }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ appHeading({
        text: heading
      }) }}
      {% if profession.description %}
        <p class="govuk-body">{{ profession.description }}</p>
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Summary</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Red</dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">{{ summaryCounts.RED }}</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Amber</dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--yellow">{{ summaryCounts.AMBER }}</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Green</dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--green">{{ summaryCounts.GREEN }}</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">TBC</dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--grey">{{ summaryCounts.TBC }}</strong>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Standards by Project</h2>
      {# Sort standards by number (lowest to highest) #}
      {% set sortedStandards = standards | sort(attribute='number') %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Project</th>
            {% for standard in sortedStandards %}
              <th class="govuk-table__header">
                {% if standard.number %}
                  {{ standard.number }}: {{ standard.name }}
                {% else %}
                  {{ standard.name }}
                {% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for project in projects %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="/projects/{{ project.id }}" class="govuk-link">{{ project.name }}</a>
              </td>
              {% for standard in sortedStandards %}
                {% set cell = matrix[standard.id][project.id] %}
                <td class="govuk-table__cell">
                  {% if cell.rag == 'TBC' %}
                    <strong class="govuk-tag govuk-tag--grey">TBC</strong>
                  {% elif cell.rag == 'AMBER' or cell.rag == 'AMBER_RED' or cell.rag == 'GREEN_AMBER' %}
                    <strong class="govuk-tag govuk-tag--yellow">AMBER</strong>
                  {% elif cell.rag == 'RED' %}
                    <strong class="govuk-tag govuk-tag--red">RED</strong>
                  {% elif cell.rag == 'GREEN' %}
                    <strong class="govuk-tag govuk-tag--green">GREEN</strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--grey">{{ cell.rag }}</strong>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}