{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {% if errorMessage %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Archive Profession Update</h1>
      <p class="govuk-body">
        Are you sure you want to archive this profession update? This will hide it from the project timeline and profession history.
      </p>
      <form method="POST" action="/projects/{{ projectId }}/professions/{{ professionId }}/history/{{ historyId }}/archive" novalidate>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Archive update",
            classes: "govuk-button--warning"
          }) }}
          {{ govukButton({
            text: "Cancel",
            href: "/projects/" + projectId + "/professions/" + professionId + "/history",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %} 