{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to project",
    href: "/projects/" + project.id
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ heading }}</h1>
  <p class="govuk-body">Project: {{ project.name }}</p>

  {{ govukWarningText({
    text: "This will permanently remove this delivery status update from the project history.",
    iconFallbackText: "Warning"
  }) }}

  <div class="govuk-inset-text">
    {% if update.status %}
      <p class="govuk-body">Status: 
        <strong class="govuk-tag 
          {% if update.status === 'RED' %}govuk-tag--red
          {% elif update.status === 'AMBER' %}govuk-tag--yellow
          {% elif update.status === 'GREEN' %}govuk-tag--green
          {% endif %}">
          {{ update.status }}
        </strong>
      </p>
    {% endif %}
    {% if update.commentary %}
      <p class="govuk-body">Commentary: {{ update.commentary }}</p>
    {% endif %}
    <p class="govuk-body">Date: {{ update.timestamp | formatDate }}</p>
  </div>

  <form method="POST" novalidate>
    <input type="hidden" name="confirmed" value="true">
    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Delete Update",
        classes: "govuk-button--warning"
      }) }}
      
      {{ govukButton({
        text: "Cancel",
        href: "/projects/" + project.id,
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </form>
{% endblock %} 