{% extends "layouts/page.njk" %}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to project edit",
    href: "/projects/" + project.id + "/edit?tab=professions"
  }) }}
{% endblock %}

{% block content %}
  {% if errorMessage %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage
        }
      ]
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>
  <p class="govuk-body">Project: {{ project.name }}</p>

  <form method="POST" novalidate>
    <div class="govuk-form-group">
      {{ govukSelect({
        id: "status",
        name: "status",
        label: {
          text: "Update Status",
          classes: "govuk-label--s"
        },
        items: statusOptions,
        value: profession.status
      }) }}

      {{ govukTextarea({
        name: "commentary",
        id: "commentary",
        label: {
          text: "Commentary",
          classes: "govuk-label--s"
        },
        value: profession.commentary
      }) }}
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save Update"
      }) }}
      
      {{ govukButton({
        text: "Cancel",
        href: "/projects/" + project.id + "/edit?tab=professions",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </form>
{% endblock %} 