{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}
  {{ appHeading({
    text: "Project History",
    caption: project.name
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">History Details</h2>
      {% if history and history.length > 0 %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Commentary</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for change in history %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ change.timestamp | formatDate }}</td>
                <td class="govuk-table__cell">
                  {% if change.changes.status %}
                    <strong class="govuk-tag 
                      {% if change.changes.status.to === 'RED' %}govuk-tag--red
                      {% elif change.changes.status.to === 'AMBER' %}govuk-tag--yellow
                      {% elif change.changes.status.to === 'GREEN' %}govuk-tag--green
                      {% endif %}">
                      {{ change.changes.status.to }}
                    </strong>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if change.changes.commentary %}
                    <div class="govuk-body">
                      {{ change.changes.commentary.to }}
                    </div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="govuk-body">No history found for this project.</p>
      {% endif %}

      {{ govukButton({
        text: "Back to project",
        href: "/projects/" + project.id,
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endblock %} 