{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}
  {{ appHeading({
    text: "Project engagement",
    caption: project.name
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if history and history.length > 0 %}
        <div class="timeline">
          {% for change in history %}
            <div class="timeline__event">
              <h3 class="timeline__event-title govuk-heading-s">
                {% if change.type === 'profession' %}
                  {# Profession comment #}
                  Comment:
                {% elif change.changes.status and change.changes.status.from !== change.changes.status.to %}
                  {# Project overall status update #}
                  Delivery status update:
                  <strong class="govuk-tag 
                    {% if change.changes.status.to === 'RED' %}govuk-tag--red
                    {% elif change.changes.status.to === 'AMBER' %}govuk-tag--yellow
                    {% elif change.changes.status.to === 'GREEN' %}govuk-tag--green
                    {% endif %}">
                    {{ change.changes.status.to }}
                  </strong>
                {% elif change.changes.name %}
                  Project name updated
                {% elif change.changes.commentary and change.type === 'project' %}
                  Project commentary updated
                {% else %}
                  General update
                {% endif %}
              </h3>
              {% if change.type === 'profession' %}
              <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2" style="white-space: nowrap; font-size: 10px; line-height: 1; padding: 3px 6px;">
                {{ change.changedBy | upper }}
              </strong>
              {% endif %}
              {% if change.changes.commentary %}
                <p class="govuk-body">{{ change.changes.commentary.to }}</p>
              {% endif %}
              <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-2 govuk-!-font-size-16">
                Last updated: {{ change.timestamp | formatDate }}
              </p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="govuk-body">No history found for this project.</p>
      {% endif %}

      {{ govukButton({
        text: "Back to project",
        href: "/projects/" + project.id,
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endblock %} 