{% extends 'layouts/page.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageStyles %}
<style>
  .app-tag-count {
    font-size: 24px;
    padding: 15px 25px;
    text-align: center;
    min-width: 80px;
  }
</style>
{% endblock %}

{% block content %}
  {{ appHeading({
    text: "Programmes"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">View technical assurance status across DDTS programmes.</p>

      {% if programmes.length > 0 %}
        {% set rows = [] %}
        {% for programme in programmes %}
          {% set row = [
            {
              html: "<a href='/programmes/" + programme.name + "' class='govuk-link'>" + programme.name + "</a>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--red app-tag-count'>" + programme.redCount + "</strong>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--red govuk-tag--yellow app-tag-count'>" + programme.amberRedCount + "</strong>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--yellow app-tag-count'>" + programme.amberCount + "</strong>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--yellow govuk-tag--green app-tag-count'>" + programme.amberGreenCount + "</strong>"
            },
            {
              html: "<strong class='govuk-tag govuk-tag--green app-tag-count'>" + programme.greenCount + "</strong>"
            }
          ] %}
          {% set rows = (rows.push(row), rows) %}
        {% endfor %}

        {{ govukTable({
          head: [
            {
              text: "Programme name"
            },
            {
              text: "Red"
            },
            {
              text: "Amber Red"
            },
            {
              text: "Amber"
            },
            {
              text: "Green Amber"
            },
            {
              text: "Green"
            }
          ],
          rows: rows
        }) }}
      {% else %}
        <p class="govuk-body">No programmes found.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}