{% extends "layouts/page.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Projects",
        href: "/"
      },
      {
        text: project.name,
        href: "/projects/" + project.id
      },
      {
        text: "Manage project",
        href: "/projects/" + project.id + "/manage"
      },
      {
        text: "Update project details",
        href: "/projects/" + project.id + "/manage/details"
      },
      {
        text: "Add delivery partner"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Add a delivery partner</h1>
  <h2 class="govuk-heading-l govuk-!-margin-bottom-6">{{ project.name }}</h2>
  
  {% if errorMessage or errors.partnerId or errors.engagementManager %}
    {% set errorList = [] %}
    {% if errors.partnerId %}
      {% set errorList = errorList.concat([{
        text: errors.partnerId.text,
        href: "#partnerId"
      }]) %}
    {% endif %}
    {% if errors.engagementManager %}
      {% set errorList = errorList.concat([{
        text: errors.engagementManager.text,
        href: "#engagementManager"
      }]) %}
    {% endif %}
    {% if errorMessage and not errors.partnerId and not errors.engagementManager %}
      {% set errorList = errorList.concat([{
        text: errorMessage,
        href: "#partnerId"
      }]) %}
    {% endif %}
    
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}

  {% if availablePartners and availablePartners.length > 0 %}
    <form method="POST" novalidate>
      {{ govukRadios({
        idPrefix: "partnerId",
        name: "partnerId",
        fieldset: {
          legend: {
            text: "Which delivery partner would you like to add?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: partnerRadioItems,
        value: values.partnerId,
        errorMessage: errors.partnerId
      }) }}

      {{ govukInput({
        label: {
          text: "Engagement manager name",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Enter the name of the person managing this engagement"
        },
        id: "engagementManager",
        name: "engagementManager",
        classes: "govuk-!-width-two-thirds",
        value: values.engagementManager,
        errorMessage: errors.engagementManager
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save update"
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: "/projects/" + project.id + "/manage/details",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>
  {% else %}
    {{ govukInsetText({
      text: "There are no available delivery partners to add."
    }) }}

    <div class="govuk-button-group govuk-!-margin-top-4">
      {{ govukButton({
        text: "Back to project details",
        href: "/projects/" + project.id + "/manage/details",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  {% endif %}
{% endblock %} 