{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: "Sorry, there is a problem with the service"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Try again later.</p>
      
      <p class="govuk-body">We're working to fix this problem.</p>
      
      <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>try refreshing the page</li>
        <li>go back to the <a href="/projects" class="govuk-link">deliveries homepage</a></li>
      </ul>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Try again",
          href: "javascript:location.reload()",
          classes: "govuk-button--primary"
        }) }}
        
        {{ govukButton({
          text: "Go to homepage",
          href: "/",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </div>
  </div>
{% endblock %} 